/* main {
    align-items: center;
    justify-content: center;
    margin-top: 200p;
} */

.container {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.header {
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    display: flex;
    gap: 20px;
}



.count {
    font-size: 50px;
}

.btn {
    padding: 10px 20px;
}